@{
    ViewData["Title"] = "Properties";
    var properties = ViewData["Properties"] as List<Property>;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div id="Wrapper" class="row">


    @foreach (var obj in properties)
    {
        <div class="card" style="width: 18rem;">
            <img src="~/img/noimage.jpg" class="card-img-top" alt="No image">
            <div class="card-body">
            NO# : <h5 class="card-title">@obj.Id</h5>
            Price: <h5 class="card-title">@obj.Price</h5>
                <p class="card-text">@obj.Description</p>
                <a class="btn btn-primary" asp-controller="Property" asp-action="Update" asp-route-id="@obj.Id">Update</a>
                <a class="btn btn-primary" asp-controller="Property" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
            </div>
        </div>
    
    }

    


</div>