@{
    ViewData["Title"] = "Properties";
    //var properties = ViewData["Properties"] as List<Property>;
    ViewData["imgName"] = "";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div id="Wrapper" class="row">


    @foreach (var obj in ViewBag.Properties)
    {
        <div class="card col-4" style="width: 20rem;">
            @if (@obj.img?.ImageUrl == null)
            {
                ViewData["imgName"] = ViewData["AzureUrl"] + "noimage.jpg";
            }
            else
            {
                ViewData["imgName"] = ViewData["AzureUrl"] + @obj.img?.ImageUrl;
            }

            <img src="@ViewData["imgName"]" class="card-img-top" alt="" asp-append-version="true" />
            
            <div class="card-body">
            NO# : <h5 class="card-title">@obj.p.Id</h5>
                Price: <h5 class="card-title">@obj.p.Price</h5>
                <p class="card-text">@obj.p.Description</p>
                <a class="btn btn-primary" asp-controller="Property" asp-action="Update" asp-route-id="@obj.p.Id">Update</a>
                <a class="btn btn-primary" asp-controller="Property" asp-action="Delete" asp-route-id="@obj.p.Id">Delete</a>
                <a class="btn btn-primary" asp-controller="Property" asp-action="AddImage" asp-route-id="@obj.p.Id">Add Image</a>
            </div>
        </div>
    
    }

    


</div>